{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block head-extra %}
    <script src="{% static 'assets/dist/Leaflet/libs/leaflet-src.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/dist/Leaflet/libs/leaflet.css' %}"/>
    <script src="{% static 'assets/dist/Leaflet/src/Leaflet.draw.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/Leaflet.Draw.Event.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/dist/Leaflet/src/leaflet.draw.css' %}"/>
    <script src="{% static 'assets/dist/Leaflet/src/Toolbar.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/Tooltip.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/ext/Polygon.Intersect.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/ext/TouchEvents.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/Control.Draw.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Circle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/DrawToolbar.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Circle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.CircleMarker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/EditToolbar.Delete.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/Control.Draw.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Rectangle.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Marker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.CircleMarker.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/src/edit/handler/Edit.Circle.js' %}"></script>
    <!--End Draw Ref-->
    <link rel="stylesheet" href="{% static 'assets/dist/Leaflet/lib/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/dist/Leaflet/lib/MarkerCluster.Default.css' %}"/>
    <script src="{% static 'assets/dist/Leaflet/lib/leaflet.markercluster-src.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/lib/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/dist/Leaflet/leaflet.shapefile-gh-pages/gh-pages.css' %}"/>
    <script src="{% static 'assets/dist/Leaflet/leaflet.shapefile-gh-pages/catiline.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/Leaflet.timeline/leaflet.timeline.js' %}"></script>
    <script src="{% static 'assets/dist/Leaflet/leaflet.shapefile-gh-pages/leaflet.shpfile.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/dist/css/map-style.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <!-- Modal para seleccionar el tipo de evento -->
    <div class="modal fade" id="modalTypeEventMarker" tabindex="-1" role="dialog"
         aria-labelledby="modalTypeEventMarkerLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTypeEventMarkerLabel">Select Event Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="event-type-form">
                        <div class="form-group">
                            <label for="tipoeventofirtmodal">Event Type:</label>
                            <select required class="form-group" id="tipoeventofirtmodal">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="save-event-type">OK</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal para la creación del marcador -->
    <div class="modal fade" id="modalMarker" tabindex="-1" role="dialog" aria-labelledby="modalMarkerLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMarkerLabel">Mark Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modal-form"> {% csrf_token %}
                        <div class="form-group">
                            <label for="tipoevento">Event Type:</label>
                            <select class="form-control" id="tipoevento"></select>
                        </div>
                        <div class="form-group">
                            <label for="pause_time">Pause time(Milliseconds):</label>
                            <input class="form-control" type="text"
                                   id="pause_time" name="pause_time">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">  <!-- Contenedor form-group -->
                                    <label for="fechaini" class="mr-2">Begin:</label>  <!-- Etiqueta "Begin:" -->
                                    <div class="d-flex align-items-center">  <!-- Contenedor para input y select -->
                                        <input type="text" class="form-control mr-2" id="fechaini" name="fechaini"
                                               size="5">
                                        <select class="form-control" name="selectDateTypeBegin"
                                                id="selectDateTypeBegin">
                                            <option value="Before Present (YBP)">Before Present (YBP)</option>
                                            <option value="Before Christ (BC)">Before Christ (BC)</option>
                                            <option selected value="After Christ (AC)">After Christ (AC)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fechafin" class="mr-2">End:</label>  <!-- Etiqueta "End:" -->
                                    <div class="d-flex align-items-center">  <!-- Contenedor para input y select -->
                                        <input class="form-control mr-2" type="text" id="fechafin" name="fechafin"
                                               size="5">
                                        <select class="form-control" name="selectDateTypeEnd" id="selectDateTypeEnd">
                                            <option value="Before Present (YBP)">Before Present (YBP)</option>
                                            <option value="Before Christ (BC)">Before Christ (BC)</option>
                                            <option selected value="After Christ (AC)">After Christ (AC)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Description:</label>
                            <textarea class="form-control" rows="1" id="descripcion" name="descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="reference">Reference:</label>
                            <textarea class="form-control" rows="1" id="reference" name="reference"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="latitudid">Latitude:</label>
                                    <input class="form-control" type="text" id="latitudid" name="latitud" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="longitudid">Longitude:</label>
                                    <input class="form-control" type="text" id="longitudid" name="longitud" disabled>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="BtnSaveMarker" type="submit" class="btn btn-primary">Save</button>
                    <button id="BtnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Map - CYP2D6 Alleles-Expansions</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" title="CYP2D6 Alleles-Expansions"
                                            data-widget="control-sidebar"
                                            data-controlsidebar-slide="true">
                                        <i class="fas fa-walking"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="right-sidebar" style="padding: 10px 100px;">
                                    <div id="map"></div>
                                </div>
                                <script>
                                    var importUrlPath = "{% static 'assets/dist/Leaflet/leaflet.shapefile-gh-pages/shp.js' %}";
                                </script>

                                <!-- codigo javascript para cargar archivos de tipo shape -->
                                <script src="{% static 'assets/dist/js/map-load-shape.js' %}"></script>

                                <script>
                                    // Capa Base con mapa político
                                    var countriesLayers = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";  //"http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png";
                                    var osmAttrib = "CYP2D6 Alleles-Expansions";
                                    var osmcountriesLayers = L.tileLayer(countriesLayers, {
                                        minZoom: 2,
                                        attribution: osmAttrib,
                                    });

                                    // Capa Base con mapa satelital
                                    var satelitalLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                                        minZoom: 2,
                                        attribution: 'Allele-Viewer'
                                    });

                                    // Capa Base con mapa de los océanos
                                    var oceanLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Ocean/World_Ocean_Base/MapServer/tile/{z}/{y}/{x}', {
                                        minZoom: 2,
                                        attribution: 'Allele-Viewer'
                                    });

                                    // Capa Base con mapa del último glacial máximo
                                    var LandLGMShapefile = new L.Shapefile("{% static 'assets/dist/Leaflet/Last-Glacial-Maximum/landmassLGMPolygon2.zip' %}", {
                                        style: function (feature) {
                                            return {
                                                color: '#2D2',
                                                fillColor: '#2D2',
                                                fillOpacity: 0.5,
                                                weight: 2,
                                                opacity: 1,
                                            };
                                        }
                                    });

                                    // Creación de la variable del Mapa
                                    var map = L.map("map", {
                                        layers: [satelitalLayer],
                                        center: new L.LatLng(-3, 20),
                                        zoom: 4,
                                        maxBounds: [
                                            [90, -50],
                                            [-90, 335],
                                        ],
                                    });

                                    // Capa de las marcas
                                    markerLayer = new L.featureGroup().addTo(map);
                                    var markerMigrationPointLayer = new L.featureGroup().addTo(map);
                                    var labeled = false;

                                    var iconUrlpath = "{% static 'assets/dist/Leaflet/marker_black.png' %}";
                                    var iconUrlpathDestinationMigration = "{% static 'assets/dist/Leaflet/primitive-man.png' %}";

                                </script>
                                <!-- Script que almacena en la variable authenticated el estado del usuario, si esta autenticado o no -->
                                <script>
                                    var authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
                                </script>
                                <!-- código javascript para cargar el color dada la cantidad de habitantes -->
                                <script src="{% static 'assets/dist/js/map-function-colors.js' %}"></script>                                
                                <!-- código javascript para cargar la linea del tiempo -->
                                <script src="{% static 'assets/dist/js/map-function-load-timeline.js' %}"></script>
                                <!-- código javascript para gestionar la creacion de los marcadores y sus modales -->
                                <script src="{% static 'assets/dist/js/map-marker-crud-map.js' %}"></script>
                                <!-- código javascript para manejar los eventos en la creacion de los marcadores -->
                                <script src="{% static 'assets/dist/js/map-marker-event-map.js' %}"></script>
                                <!-- código javascript para mejorar la visualizacion de las etiquetas -->
                                <script src="{% static 'assets/dist/js/map-label-improve.js' %}"></script>

                                <!-- Capa de marcadores por defecto apagada -->
                                <script>
                                    markerLayer.remove();
                                </script>

                                <!-- Este es el archivo que tiene la llamada a la función eqfeed_callback -->
                                <!-- y tiene como parámetro varios de los vectores que conforman la línea del tiempo -->
                                <!-- los cuáles son: el hielo, la tierra que emerge y las trayectorias de las migraciones-->
                                <script src="{% static 'assets/dist/Leaflet/Leaflet.timeline/migration-timeline.geojsonp' %}"></script>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid-->
        </section>
    </div>
    
     <!-- Modal que muestra info de los eventos asi como sus imagenes correspondientes -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Event details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Sección de Descripción -->
                    <h5 class="mt-3 mb-2">Description:</h5>
                    <div id="eventDescription" class="scrollable mb-4"></div>

                    <!-- Sección de Referencia -->
                    <h5 class="mt-3 mb-2">Reference:</h5>
                    <div id="eventReference" class="scrollable mb-4"></div>

                    <!-- Sección de Imágenes -->
                    <h5 class="mt-3 mb-2">Event image:</h5>
                    <div id="eventImages" class="d-flex flex-wrap mb-4">
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
       <!-- End modal -->

    <!-- Sidebar con el panel derecho que muestra el listado de las migraciones cronológicamente -->
    <aside id="info" class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3 d-flex flex-column">
            <div class="d-flex align-items-center">
                <h6 class="mr-3">CYP2D6 Alleles-Expansions</h6>
                <a class="nav-link ml-auto" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#"
                   role="button">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul id="displayed-list" style="font-size:11px;"></ul>
        </div>
    </aside>

{% endblock %}

{% block script %} <!-- DataTables & Plugins -->
    <script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/additional-methods.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/localization/messages_es.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
{% endblock %}