{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <style>
        .icon-cell {
            width: 50px;
            height: 50px;
            text-align: center;
        }

        .circular-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .circular-icon-preview {
            width: 70px;
            height: 70px;
            border-radius: 20%;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% blocktranslate %}Events-Types list{% endblocktranslate %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">{% blocktranslate %}Events-Types{% endblocktranslate %}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Events-Types</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <div class="dt-buttons btn-group flex-wrap">
                                        <button class="btn btn-primary btn-info" data-toggle="modal"
                                                data-target="#modal-add-event-type" tabindex="0"
                                                aria-controls="example1" type="button"><span>Add</span></button>
                                        <!-- Modal-add- Event -->
                                        <div class="modal fade" id="modal-add-event-type">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Add Event-Type</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="add-event-type-form" method="post">{% csrf_token %}
                                                            <div class="form-group">
                                                                <label for="name">Event-Type Name:</label>
                                                                <input type="text" class="form-control" id="name"
                                                                       name="name" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="pause-time">Event-Type pause time(Milliseconds):</label>
                                                                <input type="number" min="0" class="form-control" id="pause-time"
                                                                       name="pause_time">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="icon">Icon:</label>
                                                                <input type="file" class="form-control" id="icon"
                                                                       name="icon" required>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                                onclick="submitEventTypeForm()">Save
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- End /.modal-add-Event -->
                                    </div>
                                    <thead>
                                    <tr>
                                        <th>Nro.</th>
                                        <th>Event-Type</th>
                                        <th>Pause Time(Milliseconds)</th>
                                        <th>Icon</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for event in events_type %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ event.name }}</td>
                                            <td>{{ event.pause_time }}</td>
                                            <td class="icon-cell">
                                                <img src="{{ event.icon.url }}" alt="Icono del evento"
                                                     class="circular-icon">
                                            </td>
                                            <td>
                                            <span class="input-group-append">

                                            <a href="#" class="btn bg-olive active btn-edit" data-toggle="modal"
                                               data-target="#modal-edit-event-type-{{ event.id }}" data-id="{{ event.id }}"
                                               data-name="{{ event.name }}"
                                               data-pause-time="{{ event.pause_time }}"
                                               data-icon="{{ event.icon.url }}"> <i class="fa fa-edit"></i> </a>

                                            <a href="#" class="btn bg-olive" data-toggle="modal"
                                               data-target="#modal-delete-event-type" data-id="{{ event.id }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            </span>
                                            </td>
                                        </tr>
                                        
                                        <!-- Modal- Edit- Event -->
                                        <div class="modal fade" id="modal-edit-event-type-{{ event.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Details Event-Type</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="edit-event-type-form">
                                                            <div class="form-group">
                                                                <label for="name">Event-Type Name:</label>
                                                                <input type="text" class="form-control" id="name"
                                                                       name="name" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="pause-time">Event-Type pause time(Milliseconds):</label>
                                                                <input type="number" min="0" class="form-control" id="pause-time"
                                                                       name="pause_time" required>
                                                            </div>
                                                            <input type="hidden" id="icon-url"
                                                                   name="icon_url">
                                                            <div class="form-group">
                                                                <label for="icon">Event-Type Icon:</label>
                                                                <img id="icon-preview"
                                                                     class="form-control circular-icon-preview"
                                                                     alt="Icono del evento" src="">
                                                                <input type="file" class="form-control" id="icon"
                                                                       name="icon">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                                id="btn-edit-event-type"
                                                                data-id="{{ event.id }}">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- End /.modal-Edit-Event -->

                                     

                                    {% endfor %}
                                   <!-- Modal- Delete- Event -->
                                        <div class="modal fade" id="modal-delete-event-type">
                                            <div class="modal-dialog">
                                                <div class="modal-content bg-danger">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Delete Event-Type</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Do you want to delete the event type? </p>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-outline-light"
                                                                data-dismiss="modal">Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-outline-light"
                                                            id="confirm-delete-event-type">Delete
                                                    </button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- End /.modal-Delete-Event -->
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock %}
{% block script %} <!-- DataTables & Plugins -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/additional-methods.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/localization/messages_es.js' %}"></script>
    <script src="{% static 'assets/dist/js/axios.min.js' %}"></script>
    {#<script src="{% static 'assets/dist/js/createuser.js' %}"></script>#}
    <script src="{% static 'assets/dist/js/crud_events/event-type.crud.js' %}"></script>
    <script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>

    <!-- Page specific script -->


{% endblock %}