{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block head-extra %}
    <link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <style>
        .icon-cell {
            width: 50px;
            height: 50px;
            text-align: center;
        }

        .circular-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .circular-icon-preview {
            width: 70px;
            height: 70px;
            border-radius: 20%;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Markers List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Markers</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Markers</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    {#                                    <button class="btn btn-primary btn-info" data-toggle="modal"#}
                                    {#                                            data-target="#createFeatureModal" tabindex="0"#}
                                    {#                                            aria-controls="example1" type="button"><span>Add</span>#}
                                    {#                                    </button>#}
                                    <thead>
                                    <tr>
                                        <th>Nro.</th>
                                        <th>Event Type</th>
                                        <th>Pause time(Milliseconds)</th>
                                        <th>Begin Date</th>
                                        <th>Begin Format</th>
                                        <th>End Date</th>
                                        <th>End Format</th>
                                        <th>Description</th>
                                        <th>Reference</th>
                                        <th>Actions</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for mark in markers %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ mark.event_type.event_name }}</td>
                                            <td>{{ mark.pause_time }}</td>
                                            <td>{{ mark.start_date }}</td>
                                            <td>{{ mark.start_format }}</td>
                                            <td>{{ mark.end_date }}</td>
                                            <td>{{ mark.end_format }}</td>
                                            <td>{{ mark.description|truncatechars:50 }}</td>
                                            <td>{{ mark.reference|truncatechars:50 }}</td>
                                            <td>
                                           
                                            <span class="input-group-append">

                                            <a href="#" class="btn bg-olive active btn-edit"
                                               data-toggle="modal"
                                               data-target="#modal-edit-mark-{{ mark.id }}"
                                               data-mark-id="{{ mark.id }}"
                                               data-mark-event_type="{{ mark.event_type.id }}"
                                               data-mark-pause_time="{{ mark.pause_time }}"
                                               data-mark-start_date="{{ mark.start_date }}"
                                               data-mark-start_format="{{ mark.start_format }}"
                                               data-mark-end_date="{{ mark.end_date }}"
                                               data-mark-end_format="{{ mark.end_format }}"
                                               data-mark-description="{{ mark.description }}"
                                               data-mark-reference="{{ mark.reference }}"
                                               data-mark-latitude="{{ mark.latitude }}"
                                               data-mark-longitude="{{ mark.longitude }}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a href="#" class="btn bg-olive" data-toggle="modal"
                                               data-target="#modal-delete-mark" data-id="{{ mark.id }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            </span>
                                              
                                            </td>
                                        </tr>
                                        <!-- Modal- Edit- Mark -->
                                        <div class="modal fade" data-mark-id="{{ mark.id }}" id="modal-edit-mark-{{ mark.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Mark details</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="editmarkForm-{{ mark.id }}" >{% csrf_token %}
                                                            <div class="form-group">
                                                                <label for="eventtype">Event Type:</label>
                                                                <select id="mark-event_type" disabled class="form-control">
                                                                    <option value="{{ mark.event_type.id }}">{{ mark.event_type.event_name }}</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="mark-pause_time">Pause time(Milliseconds):</label>
                                                                        <input class="form-control" type="number" min="0"
                                                                               id="mark-pause_time" value="{{ mark.pause_time }}" name="mark-pause_time"
                                                                               required>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <!-- Contenedor form-group -->
                                                                        <label for="mark-start_date"
                                                                               class="mr-2">Begin:</label>
                                                                        <!-- Etiqueta "Begin:" -->
                                                                        <div class="d-flex align-items-center">
                                                                            <!-- Contenedor para input y select -->
                                                                            <input type="text" class="form-control mr-2"
                                                                                   id="mark-start_date"
                                                                                   name="mark-start_date"
                                                                                   size="5">
                                                                            <select class="form-control"
                                                                                    name="mark-start_format"
                                                                                    id="mark-start_format">
                                                                                <option value="Before Present (YBP)">
                                                                                    Before Present (YBP)
                                                                                </option>
                                                                                <option value="Before Christ (BC)">
                                                                                    Before Christ (BC)
                                                                                </option>
                                                                                <option selected
                                                                                        value="After Christ (AC)">After
                                                                                    Christ (AC)
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="mark-end_date"
                                                                               class="mr-2">End:</label>
                                                                        <!-- Etiqueta "End:" -->
                                                                        <div class="d-flex align-items-center">
                                                                            <!-- Contenedor para input y select -->
                                                                            <input class="form-control mr-2" type="text"
                                                                                   id="mark-end_date"
                                                                                   name="mark-end_date"
                                                                                   size="5">
                                                                            <select class="form-control"
                                                                                    name="mark-end_format"
                                                                                    id="mark-end_format">
                                                                                <option value="Before Present (YBP)">
                                                                                    Before Present (YBP)
                                                                                </option>
                                                                                <option value="Before Christ (BC)">
                                                                                    Before Christ (BC)
                                                                                </option>
                                                                                <option selected
                                                                                        value="After Christ (AC)">After
                                                                                    Christ (AC)
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="mark-description">Description:</label>
                                                                <textarea class="form-control" id="mark-description"
                                                                          name="mark-description"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="mark-reference">Reference:</label>
                                                                <textarea class="form-control" id="mark-reference"
                                                                          name="mark-reference"></textarea>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="mark-latitude">Latitude:</label>
                                                                        <input class="form-control" type="text"
                                                                               id="mark-latitude" name="mark-latitude"
                                                                               disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="mark-longitude">Longitude:</label>
                                                                        <input class="form-control" type="text"
                                                                               id="mark-longitude" name="mark-longitude"
                                                                               disabled>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                                id="btn-edit-mark"
                                                                data-mark-id="{{ mark.id }}">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <!-- End /.modal-Edit-Mark -->
                                        
                                    {% endfor %}
                                    <!-- Modal-Delete-Mark -->
                                    <div class="modal fade" id="modal-delete-mark">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-danger">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Delete Mark</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Do you want to delete the Mark? </p>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-outline-light"
                                                            data-dismiss="modal">Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-outline-light"
                                                            id="confirm-delete">Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                     <!-- End /.modal-Delete-Mark -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock %}
{% block script %} <!-- DataTables & Plugins -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/additional-methods.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/localization/messages_es.js' %}"></script>
    <script src="{% static 'assets/dist/js/axios.min.js' %}"></script>
    {#<script src="{% static 'assets/dist/js/createuser.js' %}"></script>#}
    <script src="{% static 'assets/dist/js/markers-crud.js' %}"></script>
    <script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>

    <!-- Page specific script -->


{% endblock %}